{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - La Boutique Française{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/images/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"> 
        </div>
        <div class="col-md-7 my-auto">
            
            <h3>{{ product.name }}</34>
            <p class="product-subtitle">{{ product.subtitle }}</p>
            <span class="porduct-page-price">{{ (product.price / 100)|number_format(2, ',', '.') }}€
            <hr>
            <p class="">{{ product.description }}</p>
            <a href="{{ path('app_add_to_cart', { 'id' : product.id} ) }}" class="btn btn-primary">Ajouter A panier</a>
        </div>
    </div>
    <div class="mt-5">
        <h4>Découvrez nos meilleurs articles en vente</h4>
        <div class="row">
            {% for product in products %}
                <div class="col-md-1">
                    {% include "product/list_2_products.html.twig" %}
                </div>
            {% endfor %}
        </div><!-- /.row -->
    </div>
{% endblock %}
